<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PIN</title>

	<script src="{{ url_for('static',filename='libs/gsap/gsap.min.js')}}" defer></script>

	<script src="{{ url_for('static',filename='libs/swiper/swiper-bundle.min.js')}}" defer></script>
	<link rel="stylesheet" href="{{ url_for('static',filename='libs/swiper/swiper-bundle.min.css')}}">

	<link rel="stylesheet" href="{{ url_for('static',filename='css/main.css')}}">
	<script src="{{ url_for('static',filename='js/app.js')}}" defer></script>
	<script src="{{ url_for('static',filename='js/modal.js')}}" defer></script>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
	
	<div class="top-line">
		<div class="container container-top">
			<div>
				<div class="logo">
  					<a href="{{ url_for('home') }}">
    					<img src="{{ url_for('static', filename='img/logo.png') }}" alt="Alt">
  					</a>
				</div>
			</div>
			<div>
				<ul class="main-mnu">
					<li><a href="{{ url_for('home') }}#about">О нас</a></li>
					 <li><a href="{{ url_for('learning') }}">Обучение</a></li>
					<li><a href="#">Команда</a></li>
					<li><a href="#">Контакты</a></li>
					
					{% if current_user.is_authenticated %}
						<li class="user-dropdown">
							<a href="#" class="cabinet">{{ current_user.login }}</a>
							<ul class="dropdown-menu">
								<li><a href="{{ url_for('profile') }}">Личный кабинет</a></li>
								<li><a href="{{ url_for('logout') }}">Выйти</a></li>
							</ul>
						</li>
					{% else %}
						<li><a href="#" class="cabinet" onclick="openModal()">Войти в личный кабинет</a></li>
					{% endif %}
					
				</ul>
			</div>
		</div>
	</div>

	<div class="swiper slider">
		<div class="swiper-wrapper">
			<div class="swiper-slide slide">
				<div class="slide__content">
					<h2>Japan</h2>
					<p>Начни учить язык вместе с нами</p>
					<button onclick="scrollToAbout()">Узнать больше</button>
				</div>
			</div>
			<div class="swiper-slide slide">
				<div class="slide__content">
					<h2>China</h2>
					<p>Начни учить язык вместе с нами</p>
					<button onclick="scrollToAbout()">Узнать больше</button>
				</div>
			</div>
			<div class="swiper-slide slide">
				<div class="slide__content">
					<h2>Korea</h2>
					<p>Начни учить язык вместе с нами</p>
					<button onclick="scrollToAbout()">Узнать больше</button>
				</div>
			</div>
			<div class="swiper-slide slide">
				<div class="slide__content">
					<h2>Thailand</h2>
					<p>Начни учить язык вместе с нами</p>
					<button onclick="scrollToAbout()">Узнать больше</button>
				</div>
			</div>
		</div>

		<div class="slider-bottom">
			<div class="slider-pagination">
				<div class="swiper-pagination"></div>
			</div>
			<div class="slider-navigation">
				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
			</div>
		</div>
	</div>

	<!-- Видео, которое будет переключаться -->
	<video src="{{ url_for('static',filename='media/japan.mp4')}}" class="video-background" muted autoplay loop playsinline></video>


	<section class="about-us" id="about">
		<div class="about-content">
			<div class="about-image">
			<img src="{{ url_for('static',filename='img/asia-about-us.jpg')}}" alt="Изучение языков">
			</div>
			<div class="about-text">
				<h2>О нас</h2>
				<p>
				Наша онлайн-платформа — современное решение для изучения восточных языков: японского, китайского и корейского.
				Уроки с опытными преподавателями в сочетании с тренировками и ИИ делают обучение гибким и эффективным.
				</p>
				<ul>
				<li>📘 Уроки с преподавателями</li>
				<li>🧠 Тренировки слов, грамматики и построения предложений</li>
				<li>🤖 Искусственный интеллект, который адаптирует программу под ваш стиль и темп обучения</li>
				</ul>
				<p>
				Наш ИИ отслеживает ваш прогресс, выявляет слабые места и предлагает задания, которые действительно нужны именно вам. Благодаря этому каждый студент учится в своём темпе — эффективно, осознанно и с удовольствием.
				</p>
				<p>
				Мы совмещаем лучшие методы преподавания и новейшие технологии, чтобы вы достигали целей быстрее, увереннее и с реальным интересом.
				</p>
			</div>
		</div>
	</section>


	<section class="languages">
		<div class="container languages-container">
			<h2 class="languages-title">Языки, которые мы преподаём</h2>
			<div class="languages-list">
				<!-- Доступные языки -->
				<div class="language-item sound-overlay" >
					<div class="language-overlay">
						<img src="{{ url_for('static',filename='img/arrow.png')}}" alt="arrow" />
					</div>
					<h3>Китайский</h3>
					<p>Погрузитесь в мир Поднебесной — от базовых иероглифов до уверенного общения.</p>
				</div>

				<div class="language-item sound-overlay" >
					<div class="language-overlay">
						<img src="{{ url_for('static',filename='img/arrow.png')}}" alt="arrow" />
					</div>
					<h3>Японский</h3>
					<p>Освойте хирагану, катакану и кандзи с опытными преподавателями и живыми примерами.</p>
				</div>

				<div class="language-item sound-overlay" >
					<div class="language-overlay">
						<img src="{{ url_for('static',filename='img/arrow.png')}}" alt="arrow" />
					</div>
					<h3>Корейский</h3>
					<p>Изучайте хангыль и современную речь, включая культуру, музыку и кино.</p>
				</div>

				<!-- Недоступные языки -->
				<div class="language-item locked">
					<img src="{{ url_for('static',filename='img/free_icon_three_o_clock_clock_13435.png')}}" alt="Скоро" class="locked-icon" />
					<h3>Тайский</h3>
					<p>Курс в разработке. Совсем скоро вы сможете начать изучение!</p>
				</div>
				<div class="language-item locked">
					<img src="{{ url_for('static',filename='img/free_icon_three_o_clock_clock_13435.png')}}" alt="Скоро" class="locked-icon" />
					<h3>Вьетнамский</h3>
					<p>Курс в разработке. Следите за новостями!</p>
				</div>

				<!--плейсхолдер ибо мы бомжи без идей на 6 язык-->
				<div class="language-item placeholder"></div> 
				
				
			</div>
		</div>
	</section>


	<footer class="site-footer">
		<div class="footer-container">
			<div class="footer-main-content">
			<div class="footer-links">
				<div class="links-column">
				<h3>Карта</h3>
				<ul>
					<li><a href="#about">О нас</a></li>
					<li><a href="/learning">Обучение</a></li>
					<li><a href="/inteam">Команда</a></li>
					<li><a href="/contacts">Контакты</a></li>
				</ul>
				</div>
				
				
				<div class="links-column">
				<h3>Контакты</h3>
				<ul>
					<li><a href="https://t.me/OhhhhReally" target="_blank">@OhhhhReally</a></li>
					<li><a href="https://t.me/golopat" target="_blank">@golopat</a></li>
					<li><a href="https://t.me/pinpincod" target="_blank">🔍 pincode</a></li>
				</ul>
				</div>
			</div>
			
			<div class="community-block">
				<div class="community-content">
				<h3>Вступай в комьюнити 💬</h3>
				<p>Вся важная информация и ещё много всего!</p>
				</div>
			</div>
			</div>
			
			<div class="copyright">
			<p>Copyright © 2025 – 2025 PINCODE. All Rights Reserved.</p>
			</div>
		</div>
	</footer>

	<div class="modal-overlay" id="login-modal">
		
		<div class="modal-content">
			<span class="close-modal" onclick="closeModal()">&times;</span>
			<h2>Вход в личный кабинет</h2>
			<form method="POST" action="{{ url_for('login') }}">
				<input type="text" name="username" placeholder="Логин" required>

				<div class="password-field">
					<input type="password" id="password"  name="password" placeholder="Пароль" required>
					<span class="toggle-password" onclick="togglePassword()">👁</span>
				</div>

				<button type="submit">Войти</button>
				<button type="button" class="register-btn" onclick="handleRegister()">Регистрация</button>
			</form>
		</div>
	</div>

	

</body>
</html>