<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PIN</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

	<script src="{{ url_for('static', filename='js/modal.js') }}" defer></script>
	
</head>
<body>
    <div class="top-line">
		<div class="container container-top">
			<div>
				<div class="logo">
  					<a href="{{ url_for('home') }}">
    					<img src="{{ url_for('static', filename='img/logo.png') }}" alt="Alt">
  					</a>
				</div>
			</div>
			<div>
				<ul class="main-mnu">
					<li><a href="{{ url_for('home') }}#about">О нас</a></li>
					 <li><a href="{{ url_for('learning') }}">Обучение</a></li>
					<li><a href="#">Команда</a></li>
					<li><a href="#">Контакты</a></li>
					
					{% if current_user.is_authenticated %}
						<li class="user-dropdown">

							<a href="#" class="cabinet">
								<img src="{{ url_for('static', filename='img/user.svg') }}" alt="User"  class="user-icon">
								{{ current_user.login }}
							</a>
							<ul class="dropdown-menu">
								<li><a href="{{ url_for('profile') }}">Личный кабинет</a></li>
								<li><a href="{{ url_for('logout') }}">Выйти</a></li>
							</ul>
						</li>
					{% else %}
						<li><a href="#" class="cabinet" onclick="openModal()">Войти в личный кабинет</a></li>
					{% endif %}
					
				</ul>
			</div>
		</div>
	</div>

	<div class="modal-overlay" id="login-modal">	
		<div class="modal-content">
			<span class="close-modal" onclick="closeModal()">&times;</span>
			<h2>Вход в личный кабинет</h2>
			<form method="POST" action="{{ url_for('login') }}">
				<input type="text" placeholder="Логин" required>

				<div class="password-field">
					<input type="password" id="password" placeholder="Пароль" required>
					<span class="toggle-password" onclick="togglePassword()">👁</span>
				</div>

				<button type="submit">Войти</button>
				<button type="button" class="register-btn" onclick="handleRegister()">Регистрация</button>
			</form>
		</div>
	</div>

	<div class="tariff-video-bg">
        <video autoplay muted loop playsinline class="bg-video">
            <source src="{{ url_for('static', filename='media/spirited_away_bg_2.mp4') }}" type="video/mp4" />
            Ваш браузер не поддерживает видео фон.
        </video>

		<div class="tariff-overlay"></div>

		<section class="tariff-section">
			<div class="tariff-container">
				<div class="tariff-card">
					<h3 class="tariff-title">БАЗОВЫЙ</h3>
					<p class="tariff-price">1000₽</p> 
					<div class="tariff-divider"></div>
					<p class="tariff-desc">кукуруза недорого</p>
					<button class="tariff-button">Выбрать</button>
				</div>

				<div class="tariff-card">
					<h3 class="tariff-title">ПРОДВИНУТЫЙ</h3>
					<p class="tariff-price">2500₽</p>
					<div class="tariff-divider"></div>
					<p class="tariff-desc">надувные матрасы средне</p>
					<button class="tariff-button">Выбрать</button>
				</div>

				<div class="tariff-card">
					<h3 class="tariff-title">ПРЕМИУМ</h3>
					<p class="tariff-price">5000₽</p>
					<div class="tariff-divider"></div>
					<p class="tariff-desc">резиновые бабы дорого</p>
					<button class="tariff-button">Выбрать</button>
				</div>
			</div>
		</section>
	</div>

	<footer class="site-footer">
		<div class="footer-container">
			<div class="footer-main-content">
			<div class="footer-links">
				<div class="links-column">
				<h3>Карта</h3>
				<ul>
					<li><a href="#about">О нас</a></li>
					<li><a href="/learning">Обучение</a></li>
					<li><a href="/inteam">Команда</a></li>
					<li><a href="/contacts">Контакты</a></li>
				</ul>
				</div>
				
				
				<div class="links-column">
				<h3>Контакты</h3>
				<ul>
					<li><a href="https://t.me/OhhhhReally" target="_blank">@OhhhhReally</a></li>
					<li><a href="https://t.me/golopat" target="_blank">@golopat</a></li>
					<li><a href="https://t.me/pinpincod" target="_blank">🔍 pincode</a></li>
				</ul>
				</div>
			</div>
			
			<div class="community-block">
				<div class="community-content">
				<h3>Вступай в комьюнити 💬</h3>
				<p>Вся важная информация и ещё много всего!</p>
				</div>
			</div>
			</div>
			
			<div class="copyright">
			<p>Copyright © 2025 – 2025 PINCOD. All Rights Reserved.</p>
			</div>
		</div>
	</footer>

    
		

	
    
</body>
</html>