<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  	<link rel="stylesheet" href="{{ url_for('static', filename='css/test.css') }}">
	<script src="{{ url_for('static', filename='js/tests.js') }}" defer></script>
</head>
<body>
    <section class="canvas-section">
        <div class="canvas-container">
            <canvas id="draw-area" width="280" height="280"></canvas>
             <button class="draw-button" onclick="submitDrawing()">Распознать</button>
        </div>
    </section>


    <footer class="site-footer">
		<div class="footer-container">
			<div class="footer-main-content">
				<div class="footer-links">
					<div class="links-column">
						<h3>Карта</h3>
						<ul>
							<li><a href="{{ url_for('home') }}#about">О нас</a></li>
							<li><a href="{{ url_for('learning') }}">Обучение</a></li>
							<li><a href="{{ url_for('inteam') }}">Команда</a></li>
							<li><a href="{{ url_for('contacts') }}">Контакты</a></li>
						</ul>
					</div>
					
					
					<div class="links-column">
						<h3>Контакты</h3>
						<ul>
							<li><a href="https://t.me/OhhhhReally" target="_blank">@OhhhhReally</a></li>
							<li><a href="https://t.me/golopat" target="_blank">@golopat</a></li>
							<li><a href="https://t.me/pinpincod" target="_blank">🔍 pincode</a></li>
						</ul>
					</div>
				</div>
				
				<div class="community-block">
					<div class="community-content">
						<h3>Вступай в комьюнити 💬</h3>
						<p>Вся важная информация и ещё много всего!</p>
					</div>
			</div>
		</div>
			
			<div class="copyright">
				<p>Copyright © 2025 – 2025 PINCODE. All Rights Reserved.</p>
			</div>
		</div>
	</footer>
    
</body>
</html>